:root {
    --background_color: white;
    --main_elements_color: black;
}

body {
    background-color: var(--background_color);
    min-height: 100vh;
    margin: 0;
    color: var(--main_elements_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.logo {
    width: 80px;
    height: 80px;
}

.navitaion_bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
}

.title {
    display: flex;
    align-items: center;
    padding: 0% 5%;
}

.title h1 {
    margin-left: 40px;
}

.help {
    padding: 0% 5%;
}

.box {
    width: 30%;
    height: 40%;
    padding: 4% 5%;
    /* display: flex; just for tests */
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--main_elements_color);
    transition: opacity 1s ease-in-out;
}

.box h2 {
    margin-bottom: 15px;
}

.players_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name_box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    width: 100%;
}

.name_box label {
    position: absolute;
    display: block;
    top: -2px;
    left: 0px;
    z-index: 1;
    font-size: 16px;
    transition: all .2s .01s ease-in;
}

.name {
    position: relative;
    display: block;
    background: none;
    border: 0;
    border-bottom: 1px solid grey;
    z-index: 2;
    width: 100%;
    font-size: 16px;
    transition: border-color .2s .01s ease-in;
    outline: none;
}

.name:focus,
.name:valid {
    border-bottom: 2px solid rgb(11, 11, 170);
}

.name:focus+label,
.name:valid+label {
    top: -1.5em;
    font-size: 11px;
    font-weight: bold;
    color: rgb(11, 11, 170);
}

.button {
    padding: 10px;
    justify-content: center;
    background-color: white;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.back_button,
.confirm_button {
    border: 1px solid #111;
    font-size: 18px;
    font-weight: 300;
    margin: 1% 10%;
    width: 60%;
    transition: background-color .5s ease-in-out, color .5s .1s ease-in-out;
}

.back_button:hover,
.confirm_button:hover {
    background-color: #222;
    color: white;
}

.game_box {
    transition: opacity 1s ease-in-out;
    /* opacity: 0; just for tests */
    opacity: 1;
    /* display: none; just for tests */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding: 1% 2%;
    /* border: 2px solid var(--main_elements_color); */
    margin-top: 5%;
}

.board {
    margin: 4% 0;
    width: 456px;
    height: 456px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    cursor: pointer;
}

.field {
    border: 2px solid #222;
}

.field:hover {
    background: #eee;
}

.nought {
    /* border: 2px solid #222; */
    width: 152px;
    height: 152px;
    content: url("src/logo2.png")
}


.cross {
    /* border: 2px solid #222; */
    width: 152px;
    height: 152px;
    content: url("src/logo2.png")
    /* background: #222;
    height: 100px;
    width: 10px;
    margin: auto;
    position: relative;
    transform: rotate(45deg); */
}

/* height: 10px;
    
    
    top: 40px;
    width: 100px;
}

/* .hide {
    display: none;
}

.visually_hide {
    opacity: 0;
}

.appear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.visually_appear {
    opacity: 1;
} */